html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #E9E9E9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5% !important;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Heading sizes with default font-size 62.5%:
 8px    0.800em
10px	1.000em	62.5%	8pt
12px	1.200em	75.0%	9pt
14px	1.400em	87.5%	11pt
16px	1.600em	100.0%	12pt
18px	1.800em	112.5%	14pt
20px	2.000em	125.0%	15pt
22px	2.200em	137.5%	17pt
24px	2.400em	150.0%	18pt
*/

h1 { font-size: 3.500rem; font-weight: normal; }
h2 { font-size: 2.500rem }
h3 { font-size: 1.600rem; }

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8rem;
    font-size: 1.2rem;
}

#header {
    height: 8rem;
    position: relative;
    background: #FFCC00;
    border-bottom: 0.2em solid #FFB200;
}

#header > div {
    height: 100%;
    color: #000;
    font-family: 'Arvo', serif;
}

#header #logo {
    height:inherit;
    margin-left: 1%;
    padding: 0 0 0 7rem;
    background: url("../img/logo.png") 0 50% no-repeat;
    vertical-align: middle;
    line-height: 8rem;
}

#header #slogan {
    vertical-align: middle;
    margin-top: 1.8rem;
    font-size: 6rem;
    font-family: 'Source Code Pro';
    letter-spacing: 0.0312rem;
    word-spacing: 0.0156rem;
    line-height: 2rem;
}

#header #slogan > span {
    display:block;
    font-size:1.800rem;
    font-family: 'Source Code Pro';
}

#header #meta {
    padding-top: 1rem;
    text-align:center;
}

#header #meta > span {
    font-size:1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
}   



#header #meta input[type="submit"]:hover {
    background-color: inherit !important;
    cursor:pointer;
}

.content {
    padding:1%;
}

.content table {
    border: 1px solid black;
}

.entry-list tbody tr:hover {
    cursor: pointer;
    background: #F7F7F7;
}

#footer {
    height: 3em;
    background: #333;
    color: #fff;
    clear:both;
}

#page > div {
    color:#666;
    font-size:1.6rem;
    background: #FFF;
    box-shadow: 1px 1px 3px 0px rgba(147, 147, 147, 1);
    margin:1%;
}

/* http://sonspring.com/journal/clearing-floats */

#page > div h3 {
    margin-bottom: 0.5em;
    color: #000;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
}

#page div.content ol {
    list-style-type: decimal;
    list-style-position: inside;
}

#page div.content li {
    padding: 1rem 0;
    border-bottom: 1px solid #CCC;
}

#page div.meta {
    margin: .4rem 0;
    color: #000;
    font-size: 1.2rem;
    font-family: 'Source Code Pro';
    font-weight: 400;
    line-height: 1.8rem;
}

#page div.meta > span.created-on {
    height:16px;
    background: url("../img/icons/16x16/calendar.png") 0 50% no-repeat;
    padding: 0 0 0 2.5rem;
}

#page div.meta > span.customer-name {
    height:16px;
    background: url("../img/icons/16x16/male.png") 0 50% no-repeat;
    padding: 0 0 0 2.5rem;
}

#page div.meta > span.note-desc {
    height:16px;
    background: url("../img/icons/16x16/notepad.png") 0 50% no-repeat;
    padding: 0 0 0 2.5rem;
}


#page table {
    width:100%;
    border:0;
    vertical-align: top;
}

#page td, th {
    padding:1rem;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

#page td {
    color: #000;
}

#page td.button-wrapper {
    overflow: hidden;
}

#page tfoot td {
    border:0;
    padding:3rem 0 1rem;
}

/* = Main Navigation
******************************************************************************/

.menu {
    width: 100%;
}

.menu-list,
.menu-item {
    position: relative;
}

.menu-item > a {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0.800rem 0 0.800rem 1.800rem;
    color: #666;
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    transform: translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.menu-item > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    text-transform: capitalize;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.menu-item > a:hover, 
.menu-item > a:focus, 
.menu-item > a:active {
    color: white;
}

.menu-item > a:hover:before, 
.menu-item > a:focus:before, 
.menu-item > a:active:before {
    transform: scaleX(1);
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin: 0;
    height: 100%;
    background: #FFF;
    text-decoration: none;
}

.menu-heading {
    display: block;
    margin: 0.5em 0;
    padding: .4em 1em;
    color: #000;
    font-size: 1.600rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
}

/* = Forms
******************************************************************************/

.crm-form input[type="text"],
.crm-form input[type="password"],
.crm-form input[type="email"],
.crm-form input[type="url"],
.crm-form input[type="date"],
.crm-form input[type="month"],
.crm-form input[type="time"],
.crm-form input[type="datetime"],
.crm-form input[type="datetime-local"],
.crm-form input[type="week"],
.crm-form input[type="number"],
.crm-form input[type="search"],
.crm-form input[type="tel"],
.crm-form input[type="color"],
.crm-form select,
.crm-form textarea {
    width: 100%;
    padding: 0.5rem 0.6rem;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    vertical-align: middle;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.crm-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.crm-form input[type="color"] {
    padding: 0.2em 0.5em;
}


.crm-form input[type="text"]:focus,
.crm-form input[type="password"]:focus,
.crm-form input[type="email"]:focus,
.crm-form input[type="url"]:focus,
.crm-form input[type="date"]:focus,
.crm-form input[type="month"]:focus,
.crm-form input[type="time"]:focus,
.crm-form input[type="datetime"]:focus,
.crm-form input[type="datetime-local"]:focus,
.crm-form input[type="week"]:focus,
.crm-form input[type="number"]:focus,
.crm-form input[type="search"]:focus,
.crm-form input[type="tel"]:focus,
.crm-form input[type="color"]:focus,
.crm-form select:focus,
.crm-form textarea:focus {
    outline: 0;
    border-color: #FFCC00;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.crm-form input:not([type]):focus {
    outline: 0;
    border-color: #8AC900;
}

.crm-form input[type="file"]:focus,
.crm-form input[type="radio"]:focus,
.crm-form input[type="checkbox"]:focus {
    outline: thin solid #FFCC00;
    outline: 1px auto #FFCC00;
}
.crm-form .pure-checkbox,
.crm-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.crm-form input[type="text"][disabled],
.crm-form input[type="password"][disabled],
.crm-form input[type="email"][disabled],
.crm-form input[type="url"][disabled],
.crm-form input[type="date"][disabled],
.crm-form input[type="month"][disabled],
.crm-form input[type="time"][disabled],
.crm-form input[type="datetime"][disabled],
.crm-form input[type="datetime-local"][disabled],
.crm-form input[type="week"][disabled],
.crm-form input[type="number"][disabled],
.crm-form input[type="search"][disabled],
.crm-form input[type="tel"][disabled],
.crm-form input[type="color"][disabled],
.crm-form select[disabled],
.crm-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.crm-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.crm-form input[readonly],
.crm-form select[readonly],
.crm-form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.crm-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: auto;
    border: 1px solid #ccc;
    background-color: white;
}
.crm-form select[multiple] {
    height: auto;
}
.crm-form label {
    margin: 0.5em 0 0.2em;
}

.crm-form fieldset {
    margin: 0;
    padding: 0.35em 0 0;
    border: 0;
}
.crm-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.crm-form-stacked input[type="text"],
.crm-form-stacked input[type="password"],
.crm-form-stacked input[type="email"],
.crm-form-stacked input[type="url"],
.crm-form-stacked input[type="date"],
.crm-form-stacked input[type="month"],
.crm-form-stacked input[type="time"],
.crm-form-stacked input[type="datetime"],
.crm-form-stacked input[type="datetime-local"],
.crm-form-stacked input[type="week"],
.crm-form-stacked input[type="number"],
.crm-form-stacked input[type="search"],
.crm-form-stacked input[type="tel"],
.crm-form-stacked input[type="color"],
.crm-form-stacked input[type="file"],
.crm-form-stacked select,
.crm-form-stacked label,
.crm-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.crm-form input[type="submit"],
.crm-form input[type="reset"] {
    margin-top: 1.5rem;
}

.crm-form input[type="reset"] {
    float: right;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #FFB200;
    cursor:pointer;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.crm-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}

/* = Buttons
******************************************************************************/
button:hover {
    cursor: pointer;
}

.button {
    width: 48px;
    padding: 2rem;
    margin-right: 2rem;
    color: #FFF;
    background: #FFCC00;
    font-size: 2rem;
    text-decoration: none;
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
    border-radius: 50%;
    outline: none;
    border: 0;
}

.button-small,
.button-submit-small {
    color: #FFF;
    background: #FFCC00;
    text-decoration: none;
    box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
    border-radius: 50%;
    outline: none;
    border:0;
}

.button-small {
    padding: 1.3rem;
}

.button-submit-small {
    margin-top: .200rem;
    padding: .300rem 0;
    width:32px;
}

.button:hover {
    background-color: #FFB200;
}

.add-customer, 
.add-meeting,
.add-bp,
.add-cs,
.del-entry,
.details-entry,
.update-entry,
.find-entry {
    color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.add-customer { background-image: url("../img/icons/24x24/customer-add.png"); }
.add-meeting { background-image:  url("../img/icons/24x24/meeting-add.png"); }
.add-bp { background-image: url("../img/icons/24x24/bp-add.png"); }
.add-cs { background-image: url("../img/icons/24x24/cs-add.png"); }
.del-entry { background-image: url("../img/icons/16x16/trash.png"); }
.details-entry { background-image: url("../img/icons/16x16/details.png"); }
.update-entry { background-image: url("../img/icons/16x16/pencil.png"); }
.find-entry { background-image: url("../img/icons/24x24/entry-search.png"); }